body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#FAF9F6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  font-family: "Roboto", "sans-serif";
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "filter filter filter filter"
    "score score score sidebar";
}

.header {
  grid-area: header;
  background: #2a2d43;
  padding: 4em;
  background-image: url('https://d3vbd4zrteu05a.cloudfront.net/assets/packs/media/nav/sblive-nav-logo-41abb18c.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.filters {
  grid-area: filter;
  background: #09bbf2;
  padding: 1.75em 2em;
  display: flex;
}

.filters .date-picker {
  margin-right: 3em;
}

.filters #sport,
.filters #state,
.filters #gender {
  margin-right: 3em;
}

.filters .date-inner,
.filters #sport,
.filters #state,
.filters #gender,
.filters #status {
  font-family: "Roboto", "sans-serif";
  letter-spacing: 1px;
  padding: 1em 0.5em;
  font-size: 1em;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.scoreboard-container .no-games-text {
  font-size: 2em;
  padding: 2em;
  font-weight: bold;
}

.scoreboard-container {
  grid-area: score;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.single-matchup {
  max-width: 500px;
  max-height: 150px;
  margin: 1.5em 2em;
  border: lightgrey 1px solid;
  border-radius: 20px;
}

.single-matchup:hover {
  background: #09bbf210;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.single-team {
  display: flex;
  align-items: center;
  width: 100%;
  letter-spacing: 1.2px;
  
}

.single-team:first-child {
  border-bottom: lightgrey 1px solid;
}

.single-team .team-logo {
  max-width: 30px;
  max-height: 25px;
  margin: 1.25em;
  align-self: center;
  
}

.single-team .team-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.25em;
  margin-right: 0.5em;
  text-decoration: none;
  color: black;
  max-width: 300px;
}

.single-team .team-state {
  font-size: 0.75em;
  align-self: center;
}

.single-team .team-score {
  margin-left: auto;
  margin-right: 1em;
}